*{
  box-sizing: border-box;
  --cor-header: #EC362D
  --cor-fundo: #E5E5E5;

}

body {
  width: 100%;
  height: 100%;
  background-color: #FAFAFA;
  font-family: 'Roboto', sans-serif;

}
header {
  background-color: #EC362D;
  height: 69px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 37px;
  font-weight: 700;
  top: 0;
  left: 0;
  right: 0; /* width: 100%; */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #FFFFFF;
  line-height: 43px;
  position: fixed;
  z-index: 2;
}
  
.caixa-criar-quizz {
  width: 340px;
  height: 181px;
  margin: auto;
  margin-top: 100px;
  background-color: #FAFAFA;
  border: 1px dashed #D5D5D5;
  border-radius: 5px;
}
.caixa-texto{
  width: 250px;
  height: 107px;
  margin: auto;
  margin-top: 7px;
  font-family: Roboto;
  font-size: 20px;
  color: #B9B9B9;
  display: flex;
  align-items: center;
  text-align: center;
}
.caixa-criar-quizz-botao{
  width: 151px;
  height: 40px;
  background: #FAFAFA;
  border: 1px dashed #EC362D;
  box-sizing: border-box;
  border-radius: 50px;
  align-items: center;
  margin-bottom: 33px;
  margin-left: 95px;
  font-family: Roboto;
  font-size: 21px;
  line-height: 25px;
  color: #EC362D;
}
.todos-quizz {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: #000000;
  margin-top: 35px;
  margin-left: 18px;
}


.container-quizz {
  position: relative;
  margin: auto;
  width: 340px;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin-top: 14px;

} 
  .imagem-quizz {
    width: 340px;
    height: 181px;
    border-radius: 5px;
    position: relative;
    margin-top: 29px;
    background-size: 100%;
    object-fit: cover;
}

.container-quizz::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
    border-radius: 5px;
}

.texto-quizz {
  position: absolute;
  font-size: 32px;
  left: 16px;
  top: 150px;
  width: 301px;
  height: 54px;
  font-family: Roboto;
  font-size: 19px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color:#FFFFFF;
  z-index: 1;
}
.esconderTela{
    display: none;
}
.tela2{
  margin-top: 85px;

}

.caixateste2{
  width:100px;
  height:600px;
  background: #EC362D;
}
.tela31{
    width:100vw;
    height:100vh;
    display: flex;
    
    justify-content: center;

    

    background: rgb(233, 233, 233);
}
.tela322{
  width:100vw;
  height:100vh;
  display: flex;
  
  justify-content: center;
  

  background: blue;
}
.tela333{
  width:100vw;
  height:100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  

  background: orange;
}
.corpoTela31{
  background: rgb(233, 233, 233);
  width:380px;
  height:400px;
  display: flex;
  justify-content:center;
  flex-direction: column;
  
}
.corinput{
  background: white;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  height:180px
}
.corinput2{
  background: white;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  
}
.corpoTela32{
  
  background: rgb(233, 233, 233);
  width:440px;
  
  display: flex;
  flex-direction: column;
  
}
.corpoTela33{
  background: rgb(233, 233, 233);
  width:440px;
  
  display: flex;
  flex-direction: column;
  
}

.textoTela3{
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  background:rgb(233, 233, 233) ;
  height: 80px;

}
.caixaBotao{
  height:100px;
  align-items: center;
  
  background:rgb(233, 233, 233) ;
}

.inputTela{
  
  height: 30px;
  width:300px;
  margin-bottom: 5px;
}
.inputTela2{
  
  height: 30px;
  width:300px;
  margin-bottom: 25px;
}
.inputTela3{
  
  height: 150px;
  width:300px;
  margin-bottom: 5px;
}
.botaoTela31{
  margin-top: 20px;
  margin-left: 50px;
  width: 280px;
  height:45px;
  background: #EC362D;
  border-radius:15px;
}
.textoTitulo{
  margin-right:160px;
  margin-bottom: 15px;
  margin-top: 15px;
}
.inserir{
 
  margin-top:10px;
  margin-bottom: 10px;
  background: #EC362D;
  display: flex;
  align-items:center;

 
}
.inserir2{
 
  margin-top:10px;
 
  background: #EC362D;
  display: flex;
  align-items:center;
 
}
.imgLapis{
  margin-left: 230px;
}
.caixateste3{
  width:100vw;
  height:100vh;
}




.tela2 img {
  width: 163px;
  height: 113px;
}

.titulo-quizz {
  width: 375px;
  height: 142px; 
  background-image: url("https://criticalhits.com.br/wp-content/uploads/2020/01/capa-22.jpg");
  background-size: cover;
  margin: auto;
  display: flex;
  align-items: center;
  text-align: center;

}
.titulo-quizz::after{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://criticalhits.com.br/wp-content/uploads/2020/01/capa-22.jpg");
}
.titulo-quizz h2{
  font-family: Roboto;
  font-size: 19px;
  line-height: 22px;
  color: #FFFFFF;
  margin: auto;
}
.titulo-pergunta{
  width: 340px;
  height: 89px;
  left: 18px;
  top: 253px;
  background: #434CA0;
  display: flex;
  align-items: center;
  text-align: center;
  margin: auto;
  margin-top: 42px;
}
.titulo-pergunta h3{
  font-family: Roboto;
  font-size: 19px;
  line-height: 22px;
  color: #FFFFFF;
  margin: auto;
}
.bloco-respostas{
  width: 340px;
  height: 300px;
  margin: auto;
  margin-top: 13px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  
}
.resposta{
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 18px;
}
.resposta span {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  margin-top: 5px;
}
.titulo-resultado{
  width: 340px;
  height: 99px;
  background: #EC362D;
  margin: auto;
  margin-top: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.titulo-resultado h3{
  width: 308px;
  height: 54px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 19px;
  line-height: 22px;
  color: #FFFFFF;
}
.conteudo-reultado{
  display: flex;
  flex-direction: column;
}
.conteudo-reultado img{
  width: 340px;
  height: 255px;
  margin: auto;
  margin-top: 9px;
}
.conteudo-reultado span {
  width: 340px;
  height: 96px;
  margin: auto;
  margin-top: 9px;
}
.reiniciar-quizz{
  width: 220.32px;
  height: 44px;
  background: #EC362D;
  border-radius: 15px;
  margin: auto;
  display: flex;
  flex-direction: column;
  
}
.reiniciar-quizz p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #FFF5F4;
  margin: auto;
}
.voltar-inicio{
width: 220px;
height: 44px;
margin: auto;
margin-top: 15px;
display: flex;
justify-content: center;

}